<mat-toolbar color="primary">
  <span>Welcome Syed</span>
</mat-toolbar>
<mat-toolbar>
  <div class="text-right">
      <button mat-button color="primary" (click)="showAdd()"><i class="material-icons"><i class="material-icons">home</i></i> Home</button>
      <button mat-button color="primary" (click)="showManage()"><i class="material-icons">settings_applications</i> Manage</button>
      <button mat-button color="primary" (click)="showView()"><i class="material-icons">description</i> View</button>
  </div>
</mat-toolbar>
<!-- 
<div>
  <div>
    <p>UserName</p>
  </div>
  <div>
    <p>Password</p>
  </div>
  <div>
    <p>Email</p>
  </div>
</div> -->
<!-- <p>TOKEN:</p>
<p>HOME||MANAGE||VIEW</p>
<p>
  <button (click)="showAdd()">Add</button>
  <button (click)="showManage()">Manage</button>
  <button (click)="showView()">View</button>
</p> -->
<router-outlet></router-outlet>